#memberDetailsBackground {
    position: absolute;
    inset: 0;
    background-color: rgba(17, 24, 39, 0.9);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}


#memberDetails {
    z-index: 3;
    justify-content: center;
    background-image: url(/images/ur_special.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    display: flex;
    position: fixed;
    align-self: anchor-center;
}

#backgroundBook {
    z-index: 1;
    width: 90%
}

#page {
    display: flex;
    z-index: 4;
    width: 100%;
    height: 100%;

}

#leftPage,
#rightPage {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#leftPage h1 {
    font-family: 'fontdiner';
    margin-top: 1em;
    color: black;
    font-size: 2em;
    text-shadow: -4px 1px 0 #a3a3a3;
}

#rightPage {
    justify-content: space-around;
    color: black;
}

#memberImage {
    width: 45%;
    flex: 1
}

#memberTeams:has(> :last-child:nth-child(1)) {
    grid-template-columns: repeat(1, 1fr);
}

#memberTeams {
    flex: 2;
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: 2em;
    grid-row-gap: 0px;
    justify-items: center;
    align-items: center;
    bottom: 1em;
    position: relative;
}

#memberTeams div {
    font-size: 1.5em;
    color: black;
}

#traits {
    display: flex;
    flex: 4;
    gap: 0.5em;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

#traits .memberTrait:not(:last-child):not(:last-child) {
    border-bottom: 1px solid;
}

.memberTrait {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4em;
    padding: 0.5em;
    align-items: center;
}

.memberTrait div {
    font-size: 1.5em;
}

.traitValue {
    background-color: beige;
    padding: 0.3em;
    border-radius: 1em;
    font-size: 1.2em !important;
}

#bookBottom {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    align-self: baseline;
    width: 90%
}

#memberQuote {
    flex: 1;
    align-content: center;
    font-size: 1.3em;
}

#closeBook {
    flex: 0.5;
    display: flex;
    justify-content: flex-end;
}

#closeBook img {
    width: 50%;
    padding-right: 1em;
    position: relative;
}

#closeBook::after {
    content: "X";
    position: absolute;
    bottom: 0.6em;
    font-size: 2em;
    right: 1.5em;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 2px;
    background: #2f322c;
    color: beige;
    text-align: center;
    cursor: pointer;
}