#logTeamsList {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.logTeamNames {
    color: var(--dawson-blue);
    font-size: 1.7em;
    cursor: pointer;
}

.adjacentTeam {
    opacity: 0.7;
    font-size: 1.5em;
}

.distantTeam {
    opacity: 0.50;
    font-size: 1.3em;
}

.veryDistantTeam{
    opacity: 0.40;
    font-size: 1.2em;
}

#logsBody {
    display: flex;
    margin-top: 1em;
}

#logDateList {
    flex: 1;
    list-style-type: none;
    gap: 1em;
    display: flex;
    flex-direction: column;
    margin-right: 4em;
}

.logDate {
    color: var(--dawson-blue);
    font-size: 1.5em;
    cursor: pointer;
}

.selectedDate {
    background-color: var(--special-bg);
}

#logContentBody {
    flex: 3;
}

.logTitle {
    font-size: 2em;
    color: var(--dawson-blue);
}

.logContent p {
    color: var(--dawson-blue);
    font-size: 1.7em;
}