#media-container {
  display: flex;
  color: var(--dawson-blue);
  margin-top: 3em;
  flex-direction: column;
}
#images-wrapper{
  display: flex;
  margin-bottom: 1em;
}

#map-wrapper{
  aspect-ratio: 1;       
  position: relative;
}
#media-section{
  display: flex;
  align-items: center;
  flex-direction: column;  
}

#logos{
  width: 300px;
}


@media(max-width: 700px){
  #images-wrapper{
    flex-direction: column;
    align-items: center;
  }

  #images-wrapper a{
    display: flex;
    justify-content: center;
  }

  #logos{
    width:40%;
  }

  #logos[alt="Dawson Logo"]{
    width: 50%
  }

  #map-wrapper{
    width: 80% !important;
  }
}
