#questPage {
    display: flex;
    color: var(--dawson-blue);
    margin-top: 3em;
}

#questNames {
    flex: 1;
    margin-right: 0.5em;
}

.questContent {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questContent ul {
    list-style-type: decimal;
}


.quest {
    cursor: pointer;
    font-size: 1.8em;
}

.selectedQuest {
    background-color: var(--special-bg);
}

.logoAnchor {
    display: flex;
    justify-content: center;
}

#crcLogo {
    width: 25%;
}

#dawTecLogo{
    width: 10%
}

.logoAnchor img {
    height: auto;
    width: 20%;
}

.questContent div {
    font-size: 1.3em;
}

.questContent h2 {
    font-size: 2em;
    margin: unset;
    text-align: center;
}

@media (min-width: 1440px) {
    .logoAnchor img {
        width: 13%;
    }
}

@media (max-width:850px){
    .questContent h2{
        font-size: 1.7em;
    }

    .questContent div {
        font-size: 1.2em;
    }

    .quest{
        font-size: 1.5em;
    }

    
    #crcLogo {
        width: 40%;
    }

    #dawTecLogo{
        width: 20%
    }

    .logoAnchor img {
        height: auto;
        width: 30%;
    }


}

